.btn {
    &__mainNav {
        @include c-btn("lg", 0);
        border-radius: 10rem;
    }
    &--myWWW {
        @include c-badge($primary);
    }
    &__social {
        & * {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        &--fb {
            @include social-icons("fb")
        }
        &--insta {
            @include social-icons("insta")
        }
        &--yt {
            @include social-icons("yt")
        }
    }
}
