.navMain {
    background: $bg-nav-main;
    height: 100%;
    width: 25rem;
    @include fixed(left);
    left: -25rem;
    transition: left 0.5s linear;
    &.active {
        left: 0;
        & > button > i {
            transform: rotate(180deg);
            transition: transform 0.5s linear;
        }
    }
    &--btn {
        background: $bg-nav-main;
        width: 7rem;
        height: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 8rem;
        right: -3.5rem;
        text-align: right;
        font-size: 4rem;
        border: 0;
        & > i {
            transition: transform 0.5s linear;
        }
    }
    &--logo {
        background: $bg-nav-main;
        max-width: 100%;
        height: 25rem;
    }
    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        & > p {
            margin: 0;
            font-size: 1.4rem;
        }

    }
}

@media screen and (min-width: 992px) {
    .navMain {
        left: 0;
        &--btn {
            display: none;
        }
    }
}
