.tabs {
    &__items {
        list-style-type: none;
    }
    &__content {
        height: 100%;
        display: none;
        &.active {
            display: block;
        }
    }
    &__container {
        height: 100%;
    }
}
