@mixin c-fixed($position) {
    @if $position=="left" {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-fixed;
    }
    @else if $position=="right" {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $zindex-fixed;
    }
    @else if $position=="top" {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-fixed;
    }
    @else if $position=="bottom" {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zindex-fixed;
    }
}

@mixin c-btn-type($type, $color) {
    @if $type==0 {
        @include button-variant($color, $color)
    }
    @else if $type=="out" {
        @if $color=="light" {
            @include button-outline-variant($color, $gray-900);
        }
        @else {
            @include button-outline-variant($color, $white);
        }
    }
}

@mixin c-btn-size($size) {
    @if $size==0 {
        @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    }
    @else if $size=="sm" {
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $bn-line-height-sm, $btn-border-radius-sm);
    }
    @else if $size=="lg" {
        @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
    }
}

@mixin c-btn-base {
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $btn-border-width solid transparent;
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
    &:not([disabled]):not(.disabled) {
        cursor: pointer;
    }
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active {
        background-image: none;
        @include box-shadow($btn-active-box-shadow);

        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }
}

@mixin c-btn($size: 0, $type: 0, $color: $light) {
    @include c-btn-base;
    @include c-btn-size($size);
    @include c-btn-type($type, $color);
    @include transition($btn-transition);
    @include hover-focus {
        text-decoration: none;
    }
}

@mixin c-badge($color: 0) {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($badge-border-radius);
    @if $color !=0 {
        @include badge-variant($color); // Empty badges collapse automatically
    }
    &:empty {
        display: none;
    }
}

@mixin c-flex-type($type) {
    @if $type=="row" {
        flex-direction: row;
    }
    @else if $type=="column" {
        flex-direction: column;
    }
    @else if $type=="row-r" {
        flex-direction: row-reverse;
    }
    @else if $type=="column-r" {
        flex-direction: column-reverse;
    }

}

@mixin c-flex-wrap($wrap) {
    @if $wrap=="nowrap" {
        flex-wrap: nowrap;
    }
    @else if $wrap=="wrap" {
        flex-wrap: wrap
    }
    @else if $wrap=="wrap-r" {
        flex-wrap: wrap-reverse
    }
}

@mixin c-flex-justify($justify) {
    @if $justify=="start" {
        justify-content: flex-start;
    }
    @else if $justify=="end" {
        justify-content: flex-end;
    }
    @else if $justify=="center" {
        justify-content: center;
    }
    @else if $justify=="between" {
        justify-content: space-between;
    }
    @else if $justify=="around" {
        justify-content: space-around;
    }
}

@mixin c-flex-align($align-i) {
    @if $align-i=="start" {
        align-items: flex-start;
    }
    @else if $align-i=="end" {
        align-items: flex-end;
    }
    @else if $align-i=="center" {
        align-items: center;
    }
    @else if $align-i=="baseline" {
        align-items: baseline;
    }
    @else if $align-i=="stretch" {
        align-items: stretch;
    }
}

@mixin c-flex($type: 0, $wrap: 0, $justify: 0, $align-i: 0) {
    display: flex;
    @if $type !=0 {
        @include c-flex-type($type)
    }
    @if $wrap !=0 {
        @include c-flex-wrap($wrap)
    }
    @if $justify !=0 {
        @include c-flex-justify($justify)
    }
    @if $align-i !=0 {
        @include c-flex-align($align-i)
    }


}

@mixin fa-base($type) {
    font-family: Font Awesome\ 5 #{$type};
    &:before {
        content: "\f16d";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }
}

@mixin social-icons($type: 0, $size: 2rem) {
    @if $type !=0 {
        font-size: $size;
        &:before {
            padding: ($size * 0.3);
            border-radius: ($size * 0.3);
            height: ($size * 1.6);
            width: ($size * 1.8);
            text-align: center;
        }
        @include fa-base("Brands");
        @if $type=="fb" {
            &:before {
                color: white;
                content: "\f082";
                background: #3b5998;
            }
        }
        @else if $type=="insta" {
            &:before {
                padding-right: 0.65rem;
                content: "\f16d";
                color: $white;
                background: #f09433;
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

            }
        }
        @else if $type=="yt" {
            &:before {
                color: $white;
                content: "\f167";
                background: #cc181e;
            }
        }
    }

}
